$space_default : 16px;
$space_small : 10px;
$space_large : 20px;
$menu_width : 44%;
$menu_height : 120px;
$border-radius : 8px;
$menu_shadow : 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);